body{
  background-color: black;
  color:white;
}

.Sidebar{
  gap:10px;
  align-self: flex-start;
  margin-right:15px;
  position: sticky;
  top:65px;
}

.Sidebar .nav-item .active {
  background-color: hotpink;
}